In [12]:
import pandas as pd
 
# 와이즈넛 sns data 읽어오기
social_network_data = pd.read_csv('2020 bigcontest data_wisenut.txt', sep = "", encoding = "UTF-8")
social_network_data = pd.DataFrame(social_network_data)
social_network_data = social_network_data.drop(['GU_NM(삭제)','DONG_NM(삭제)'], axis=1)

In [8]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql

# MySQL Connector using pymysql
pymysql.install_as_MySQLdb()
import MySQLdb

engine = create_engine("mysql+mysqldb://root:"+"10042356"+"@127.0.0.1/bigcontest", encoding='utf-8')
conn = engine.connect()

In [209]:
social_network_data.to_sql(name='snsdata', con=engine, if_exists='append')

In [14]:
#sk텔레콤 유동인구 데이터
age1902 = pd.read_csv('AGE_19_02.csv', sep = "|", encoding = "UTF-8")
age1903 = pd.read_csv('AGE_19_03.csv', sep = "|", encoding = "UTF-8")
age1904 = pd.read_csv('AGE_19_04.csv', sep = "|", encoding = "UTF-8")
age1905 = pd.read_csv('AGE_19_05.csv', sep = "|", encoding = "UTF-8")
age2002 = pd.read_csv('AGE_20_02.csv', sep = "|", encoding = "UTF-8")
age2003 = pd.read_csv('AGE_20_03.csv', sep = "|", encoding = "UTF-8")
age2004 = pd.read_csv('AGE_20_04.csv', sep = "|", encoding = "UTF-8")
age2005 = pd.read_csv('AGE_20_05.csv', sep = "|", encoding = "UTF-8")

time1902 = pd.read_csv('TIME_19_02.csv', sep = "|", encoding = "UTF-8")
time1903 = pd.read_csv('TIME_19_03.csv', sep = "|", encoding = "UTF-8")
time1904 = pd.read_csv('TIME_19_04.csv', sep = "|", encoding = "UTF-8")
time1905 = pd.read_csv('TIME_19_05.csv', sep = "|", encoding = "UTF-8")
time2002 = pd.read_csv('TIME_20_02.csv', sep = "|", encoding = "UTF-8")
time2003 = pd.read_csv('TIME_20_03.csv', sep = "|", encoding = "UTF-8")
time2004 = pd.read_csv('TIME_20_04.csv', sep = "|", encoding = "UTF-8")
time2005 = pd.read_csv('TIME_20_05.csv', sep = "|", encoding = "UTF-8")

In [214]:
time1902.to_sql(name='flowtime', con=engine, if_exists='append')
time1903.to_sql(name='flowtime', con=engine, if_exists='append')
time1904.to_sql(name='flowtime', con=engine, if_exists='append')
time1905.to_sql(name='flowtime', con=engine, if_exists='append')
time2002.to_sql(name='flowtime', con=engine, if_exists='append')
time2003.to_sql(name='flowtime', con=engine, if_exists='append')
time2004.to_sql(name='flowtime', con=engine, if_exists='append')
time2005.to_sql(name='flowtime', con=engine, if_exists='append')

In [213]:
age1902.to_sql(name='flowage', con=engine, if_exists='append')
age1903.to_sql(name='flowage', con=engine, if_exists='append')
age1904.to_sql(name='flowage', con=engine, if_exists='append')
age1905.to_sql(name='flowage', con=engine, if_exists='append')
age2002.to_sql(name='flowage', con=engine, if_exists='append')
age2003.to_sql(name='flowage', con=engine, if_exists='append')
age2004.to_sql(name='flowage', con=engine, if_exists='append')
age2005.to_sql(name='flowage', con=engine, if_exists='append')

In [15]:
#GS 편의점 매출 데이터
gs_dong = pd.read_excel('04_convenience_store.xlsx', sheet_name = 3)
gs_total = pd.read_excel('04_convenience_store.xlsx', sheet_name = 5)

In [215]:
gs_dong.to_sql(name='selldong', con=engine, if_exists='append')
gs_total.to_sql(name='selltotal', con=engine, if_exists='append')

In [13]:
gs_categori = pd.read_excel('04_convenience_store.xlsx', sheet_name = 4)
gs_categori.to_sql(name='sellcategori', con=engine, if_exists='append')

In [2]:
hangjungdong = pd.read_excel('04_혁신아이디어분야_유통데이터(GS리테일)_데이터정의서 및 문제 데이터.xlsx', sheet_name = 1)

In [3]:
productcode = pd.read_excel('04_혁신아이디어분야_유통데이터(GS리테일)_데이터정의서 및 문제 데이터.xlsx', sheet_name = 2)

In [10]:
hangjungdong.to_sql(name='gsdong', con=engine, if_exists='append')
productcode.to_sql(name='gsproduct', con=engine, if_exists='append')

In [3]:
# 신한카드 외국인 매출
foreigner= pd.read_csv('CARD_SPENDING_FOREIGNER.txt', sep = "\t"  ,  encoding = 'UTF-8')
# 신한카드 내국인 매출
resident = pd.read_csv('CARD_SPENDING_RESIDENT.txt', sep = "\t"  ,  encoding = 'UTF-8')

In [208]:
resident.to_sql(name='cardkor', con=engine, if_exists='append')
foreigner.to_sql(name='cardfor', con=engine, if_exists='append')

In [10]:
hangjungdong_sh = pd.read_excel('02_혁신아이디어분야_카드소비데이터(신한카드)_데이터정의서.xlsx', sheet_name = '행정동코드')
hangjungdong_sh.to_sql(name='carddong', con=engine, if_exists='append')

In [ ]:
section_sh = pd.read_excel('02_혁신아이디어분야_카드소비데이터(신한카드)_데이터정의서.xlsx', sheet_name = '업종코드')
section_sh.to_sql(name='cardsector', con=engine, if_exists='append')

In [27]:
# CJ올리브네트윅스 물류데이터
post = pd.read_excel('CJ_olive.xlsx')

In [50]:
pd.crosstab(post.HDNG_NM, post.DL_GD_LCLS_NM)

DL_GD_LCLS_NM,가구/인테리어,도서/음반,디지털/가전,생활건강,스포츠/레저,식품,출산/육아,패션의류,패션잡화,화장품/미용
HDNG_NM,,,,,,,,,,
고산1동,236,238,238,240,214,240,205,239,237,238
고산2동,235,237,237,240,218,237,202,238,236,238
고산3동,234,237,238,239,215,239,213,238,238,239
공릉1동,235,237,238,240,219,240,207,239,238,241
공릉2동,236,237,238,241,220,241,207,239,238,239
...,...,...,...,...,...,...,...,...,...,...
하계2동,230,237,237,240,211,240,191,239,238,239
황금1동,233,237,237,240,206,239,195,238,237,238
황금2동,222,237,235,240,206,239,166,238,233,238
황학동,228,237,239,237,205,238,185,239,234,238
회현동,230,237,239,238,206,240,178,238,235,238

In [51]:
pd.crosstab(post.CTPV_NM, post.DL_GD_LCLS_NM)

DL_GD_LCLS_NM,가구/인테리어,도서/음반,디지털/가전,생활건강,스포츠/레저,식품,출산/육아,패션의류,패션잡화,화장품/미용
CTPV_NM,,,,,,,,,,
대구광역시,7868,8298,8191,8338,6938,8350,6084,8313,8177,8316
서울특별시,7798,8066,8068,8136,7028,8128,6236,8086,8043,8109

In [216]:
post.to_sql(name='post', con=engine, if_exists='append')

In [ ]:
#코로나 open api data

In [218]:
import requests
from bs4 import BeautifulSoup

open_api_key = 'RL03WR9GwYN6zpv%2B41%2FLY3hEvffg8bIzX48mbmK9%2FDTD9a6UPJroZbPPRprT%2FYN9RQTRwyk%2FOujAGtSgDHP7pQ%3D%3D'
params = '&pageNo=1&numOfRows=200&startCreateDt=20200304&endCreateDt=20200410&'
open_url = 'http://openapi.data.go.kr/openapi/service/rest/Covid19/getCovid19SidoInfStateJson?serviceKey='+open_api_key+params

res = requests.get(open_url)
soup = BeautifulSoup(res.content, 'html.parser')

data = soup.find_all('item')
covid = []
for item in data:
    if item.find('gubun').get_text() =='대구':
        stdday = item.find('stdday').get_text() #기준일시
        deathcnt = item.find('deathcnt').get_text() #사망자수
        if item.find('defcnt') == None:
            defcnt = None
        else :
            defcnt = item.find('defcnt').get_text() #확진자수
        gubun = item.find('gubun').get_text() #시도명
        incdec = item.find('incdec').get_text() #전일대비 증감수
        if item.find('isolclearcnt') == None:
            isolclearcnt = None
        else :
            isolclearcnt = item.find('isolclearcnt').get_text() #격리해제수
        if item.find('isolingcnt') == None:
            isolingcnt = None
        else :
            isolingcnt = item.find('isolingcnt').get_text() #격리중 환자수
        if item.find('localocccnt') == None:
            localocccnt = None
        else :
            localocccnt = item.find('localocccnt').get_text() #지역발생수
        if item.find('overflowcnt') == None:
            overflowcnt = None
        else :
            overflowcnt = item.find('overflowcnt').get_text() #해외유입수
        qurrate = item.find('qurrate').get_text() #10만명당 발생률
        covid.append([stdday,deathcnt,defcnt,gubun,incdec,isolclearcnt,isolingcnt,localocccnt,overflowcnt,qurrate])
    elif item.find('gubun').get_text() =='서울':
        stdday = item.find('stdday').get_text() #기준일시
        deathcnt = item.find('deathcnt').get_text() #사망자수
        if item.find('defcnt') == None:
            defcnt = None
        else :
            defcnt = item.find('defcnt').get_text() #확진자수
        gubun = item.find('gubun').get_text() #시도명
        incdec = item.find('incdec').get_text() #전일대비 증감수
        if item.find('isolclearcnt') == None:
            isolclearcnt = None
        else :
            isolclearcnt = item.find('isolclearcnt').get_text() #격리해제수
        if item.find('isolingcnt') == None:
            isolingcnt = None
        else :
            isolingcnt = item.find('isolingcnt').get_text() #격리중 환자수
        if item.find('localocccnt') == None:
            localocccnt = None
        else :
            localocccnt = item.find('localocccnt').get_text() #지역발생수
        if item.find('overflowcnt') == None:
            overflowcnt = None
        else :
            overflowcnt = item.find('overflowcnt').get_text() #해외유입수
        qurrate = item.find('qurrate').get_text() #10만명당 발생률
        covid.append([stdday,deathcnt,defcnt,gubun,incdec,isolclearcnt,isolingcnt,localocccnt,overflowcnt,qurrate])
    elif item.find('gubun').get_text() =='합계':
        stdday = item.find('stdday').get_text() #기준일시
        deathcnt = item.find('deathcnt').get_text() #사망자수
        if item.find('defcnt') == None:
            defcnt = None
        else :
            defcnt = item.find('defcnt').get_text() #확진자수
        gubun = item.find('gubun').get_text() #시도명
        incdec = item.find('incdec').get_text() #전일대비 증감수
        if item.find('isolclearcnt') == None:
            isolclearcnt = None
        else :
            isolclearcnt = item.find('isolclearcnt').get_text() #격리해제수
        if item.find('isolingcnt') == None:
            isolingcnt = None
        else :
            isolingcnt = item.find('isolingcnt').get_text() #격리중 환자수
        if item.find('localocccnt') == None:
            localocccnt = None
        else :
            localocccnt = item.find('localocccnt').get_text() #지역발생수
        if item.find('overflowcnt') == None:
            overflowcnt = None
        else :
            overflowcnt = item.find('overflowcnt').get_text() #해외유입수
        qurrate = item.find('qurrate').get_text() #10만명당 발생률
        covid.append([stdday,deathcnt,defcnt,gubun,incdec,isolclearcnt,isolingcnt,localocccnt,overflowcnt,qurrate])

In [219]:
import pandas as pd
cols = ['기준일','사망자수','확진자수','시도명','전일대비 증감수','격리해제수','격리환자수','지역발생수','해외유입수','10만명당 발생율']
covid = pd.DataFrame(covid, columns=cols)

In [221]:
covid.to_sql(name='covid', con=engine, if_exists='append')

In [194]:
#서울시 지하철 데이터
metro = pd.read_csv('서울시 지하철 호선별 역별 시간대별 승하차 인원 정보.csv', encoding = 'CP949')

In [222]:
metro.to_sql(name='metro', con=engine, if_exists='append')

In [ ]:
# -- coding: utf-8 --

import openpyxl
import mysql.connector
import os
import sys

result = []

# 엑셀 데이터를 tuple 형식으로 저장 학번이 201600000 일 경우 16만 저장하도록 파싱 
def excel_to_list(filename):
	wb = openpyxl.load_workbook(filename)
	ws = wb.active
	tmp_data = []
	for r in ws.rows:
		name = r[1].value
		stuNum = r[2].value

		if name is not None and str(stuNum).isdigit():
			tmp_data.append(str(stuNum)[2:4])
			tmp_data.append(name)
		if len(tmp_data) == 2:
			result.append(tuple(tmp_data))
			tmp_data = []

# mysql 테이블에 튜플 데이터 삽입
def mysql_insert(db,table,data):
	try:
		cursor = db.cursor()
		sql = "INSERT INTO "+table+" (stuNum,name) VALUES (%s, %s)"
		cursor.executemany(sql,data)
		db.commit()
		print("[+] Insertion success\n")
	except:
		print("[ERROR] Insertion failed\n")

# mysql 테이블의 기존 데이터를 삭제
def table_clear(db,table):
	try:
		cursor = db.cursor()
		cursor.execute("TRUNCATE TABLE "+table)
	except:
		print("[ERROR] Truncate failed\n")

# 파일이 존재하는지 체크
# return : True or False
def fileCheck(filename):
	return os.path.isfile("./"+filename)

def main():
	db = mysql.connector.connect(
		host="localhost",
		user="root",
		passwd="",
		database=""
	)
	print("* * * * * * 세미나 랜덤지목 데이터 삽입 자동화 프로그램* * * * * *")
	print("[*] exit 입력 시 종료됩니다.")
	print("[*] 엑셀 파일은 .py 파일과 같은 디렉토리에 존재해야 합니다.")
	print("[*] 테이블이 존재하지 않을 경우 생성 후 가능합니다.\n")
	while True:
		filename = input("1. 엑셀 파일명 입력 : ")
		if fileCheck(filename) is True:
			table = input("3. 데이터베이스 테이블명 입력 : ")
			excel_to_list(filename)
			answer = input("[*] 테이블 내 기존 데이터가 삭제됩니다. 진행하시겠습니까? (Y,n) : ")
			if answer == "Y":
				table_clear(db,table)
				mysql_insert(db,table,result)
				break
			else:
				continue
		elif filename == "exit":
			db.close()
			sys.exit(1)
		else:
			print("[ERROR] 파일이 존재하지 않습니다.")
			continue
		print("\n")

	sys.exit(1)

if __name__ == "__main__":
    main()

In [ ]:
cur.executemany("INSERT into persons values( %s, %s, %s, %s, %s, %s, %s)",foreigner)
conn.commit()

In [1]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql

# MySQL Connector using pymysql
pymysql.install_as_MySQLdb()
import MySQLdb

engine = create_engine("mysql+mysqldb://root:"+"10042356"+"@127.0.0.1/bigcontest", encoding='utf-8')
conn = engine.connect()

In [18]:
time2019 = pd.read_excel('timetotal.xlsx', sheet_name = '2019')
time2019.to_sql(name='time_2019_total', con=engine, if_exists='append')

In [22]:
time2020 = pd.read_excel('timetotal.xlsx', sheet_name = '2020')
time2020.to_sql(name='time_2020_total', con=engine, if_exists='append')

In [20]:
age2019 = pd.read_excel('timetotal.xlsx', sheet_name = '2019age')
age2019.to_sql(name='age_2019_total', con=engine, if_exists='append')

In [21]:
age2020= pd.read_excel('timetotal.xlsx', sheet_name = '2020age')
age2020.to_sql(name='age_2020_total', con=engine, if_exists='append')